@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");

	html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ul, li, form, tfoot, footer, header, nav, section {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
    }
    
    footer, header, nav, section {
		display: block;
    }
    
    body {
        line-height: 1;
        -webkit-text-size-adjust: none;
        -ms-overflow-style: scrollbar;
        background: #fff;
        color: #111111;
    }
    
    ol, ul {
		list-style: none;
    }
    
    .container {
		margin-left: auto;
        margin-right: auto;
    }
    
    body, input, textarea {
		font-family: "Lato", sans-serif;
		font-size: 15pt;
		font-weight: 300;
		line-height: 2;
    }
    
    a {
		-moz-transition: color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;
        text-decoration: none;
        color: #e5474b;
	}

	a:hover {
			text-decoration: underline;
	}
        
    h1, h2, h3, h4, h5, h6 {
            font-weight: 700;
            line-height: 1.5;
            margin: 0 0 1em 0;
            text-transform: uppercase;
            color: #e5474b;
    }

    h1 {
		font-size: 2em;
		margin: 0 0 0.25em 0;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.35em;
    }
    
    input, select, textarea {
		color: #e5474b;
    }
    
    .image {
		border-radius: 0;
		border: 0;
		display: inline-block;
		position: relative;
	}

	.image img {
			border-radius: 0;
			display: block;
    }
    

	#footer {
		background-color: red;
		color: black;
		padding: 4em 0 2em 0;
		background: white;
	}

	#footer h3 {
		color: black;
	}

	#footer #submit {
		margin-top: 20px;
	}

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	#banner {
		background-color: #e5474b;
		color: #f2a3a5;
		padding: 13em 0 11em 0;
		background-color: #0c0c0c;
		background-image: url("../images/banner.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 15% left;
		text-align: left;
		position: relative;
		z-index: 9999;
	}

	#banner .inner {
		max-width: 65em;
		width: calc(100% - 6em);
		margin: 0 auto;
		position: relative;
		z-index: 10000;
		line-height: 1.5;
	}

	#banner .inner-span {
		font-size: large;
		color: black;
		font-weight: bold;
	}

	#banner h1 {
		font-size: 2em;
		margin: 0 0 1em 0;
		padding: 0;
		letter-spacing: 3px;
		font-weight: 700;
		color:yellow;
	}

	body {
		position: relative;
		padding-top: 5em;
	}

	#header {
		background: #1c1c1c;
		color: #d5d5d5;
		cursor: default;
		height: 5em;
		left: 0;
		line-height: 5em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 100%;
		z-index: 10001;
	}

		#header .inner {
			max-width: 65em;
			width: calc(100% - 6em);
			margin: 0 auto;
			position: relative;
		}

		#header .logo {
			font-family: 'Pacifico', cursive;
			display: inline-block;
			height: inherit;
			left: 0;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			color: green;
			font-size: 1.75em;
			text-transform: none;
			font-weight: normal;
			padding: 0;
		}

			#header .logo:hover {
				color: rgba(229, 71, 75, 0.75);
			}

		#header a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0 2em;
			color: #ffffff;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 700;
			font-size: .85em;
		}

			#header a:hover {
				color: rgba(255, 255, 255, 0.75);
			}

			#header a:last-child {
				padding-right: 0em;
			}


		.icon {
			text-decoration: none;
			border-bottom: none;
			position: relative;
		}
		
		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}
		
		.icon > .label {
			display: none;
		}
 
		.discount {
			width: 400px;
			margin: 0 auto; 
			text-align: center;
			font-size: 30px; 
		}

		.discount p {
			display: block;
			margin: 40px 0;
		}

		.discountinput {
			font-size: 25px; 
			background-color: #119; 
			color: #fff; 
			border-radius: 10px; 
			width: 120px; 
			height: 50px; 
			cursor: pointer; 
		}

		ul.actions li{
			display: inline-block;
			padding: 0 1em 0 0;
			vertical-align: middle;
			border: black;
			border-style: solid;
			text-align: center;
			background: white;
		}

		form > #name,
		form > #subject,
		form > #Phone,
		form > #email {
			width:100%;
		}

		.form {
			display:block;
			padding-left: 10px;
			padding-right: 10px;
		}